In [150]:
# Dependencies and Setup
import pandas as pd 
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load, encoding="utf-8")

In [151]:
# Get the count of each column 
# purchase_data.describe()

In [152]:
dup_drop = purchase_data.drop_duplicates(['SN'], keep='last')

In [153]:
# PURCHASING ANALYSIS
# Number of unique items
unique_item_tot = len(purchase_data["Item Name"].unique())
print("Total number of unique items: ", unique_item_tot)

Total number of unique items:  179

In [154]:
# Average purchase price
average = purchase_data["Price"].mean()
rounded = round(average, 2)
print("Average purchase price: " '${}'.format(rounded))

Average purchase price: $3.05

In [155]:
# Total number of purchases
purchase_count = len(purchase_data["Purchase ID"].unique())
print("Total number of purchases: ", purchase_count)

Total number of purchases:  780

In [156]:
# Total amount of revenue
total_rev = purchase_data["Price"].sum()
print("Total amount of revenue: " '${}'.format(total_rev))

Total amount of revenue: $2379.77

In [157]:
# GENDER DEMOGRAPHICS
# drop duplicate names to get correct gender count
dup_drop = purchase_data.drop_duplicates(['SN'], keep='last')

In [158]:
# Total Count of Male/Female/Non-Disclosed Players
gender_tot = dup_drop["Gender"].value_counts()
gender_tot

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [159]:
# Get the total count of players
player_tot = dup_drop["SN"].count()

In [160]:
# Get the perentage of each gender
vest_per = gender_tot / player_tot * 100
rounded_1 = round(vest_per, 2)
rounded_1
# print("The total amount of revenue: " '${}'.format(total_rev))

Male                     84.03
Female                   14.06
Other / Non-Disclosed     1.91
Name: Gender, dtype: float64

In [161]:
# Purchase count by gender 
gender_purch_ct = dup_drop.groupby('Gender')[['Price']].count()
# Rename the column
renamed_df = gender_purch_ct.rename(columns={"Price":"Purchase Count"})

In [162]:
# Get the average of price by gender
average_gender_price = dup_drop.groupby('Gender')[['Price']].mean()

In [163]:
# Total purchase value by gender
total_purchase_value = dup_drop.groupby('Gender')[['Price']].sum()

In [164]:
# Normalized totals
# norm_tot = renamed_df2.div(renamed_df2.sum(axis=1), axis=0)
df_norm1 = (total_price - total_price.mean()) / (total_price.max() - total_price.min())

In [165]:
# Put gender info in one table
# Ask about 'normalized totals'
renamed_df["Average Purchase Price"] = average_gender_price
renamed_df["Total Purchase Value"] = total_purchase_value
renamed_df["Normalized Totals"] = df_norm1
renamed_df["Total Purchase Value"] = renamed_df["Total Purchase Value"].map("${:.2f}".format)
renamed_df["Average Purchase Price"] = renamed_df["Average Purchase Price"].map("${:.2f}".format)
renamed_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,81,$3.25,$263.36,NaN
Male,484,$2.98,$1440.40,NaN
Other / Non-Disclosed,11,$3.29,$36.15,NaN

In [166]:
# AGE DEMOGRAPHICS
# Create bins in which to place values based upon age
bins = [0, 10, 14, 18, 22, 26, 30, 34, 38, 42, 46]
age_labels = ['0 to 11', '11 to 15', '14 to 18', '18 to 22', '22 to 26', '26 to 30', '30 to 34', '34 to 38', '38 to 42', '42 to 46']

In [167]:
# Place data into bins
pd.cut(dup_drop["Age"], bins, labels=age_labels).head()

1    38 to 42
2    22 to 26
3    22 to 26
4    22 to 26
6    34 to 38
Name: Age, dtype: category
Categories (10, object): [0 to 11 < 11 to 15 < 14 to 18 < 18 to 22 ... 30 to 34 < 34 to 38 < 38 to 42 < 42 to 46]

In [168]:
# Add bins into new column
dup_drop["Age Group"] = pd.cut(dup_drop["Age"], bins, labels=age_labels)

C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [169]:
# Create a GroupBy object based upon "Age Group"
age_group = dup_drop.groupby("Age Group")

# Place price count into correct bins to get "purchase count"
purch_count = age_group[["Price"]].count()
renamed_df3 = purch_count.rename(columns={"Price":"Purchase Count"})

In [170]:
# Get the average purchase price within the GroupBy object
av_purch_price = age_group[["Price"]].mean()
# renamed_df4 = av_purch_price.rename(columns={"Price":"Average Purchase Price"})
# Rename the column
# renamed_df4["Average Purchase Price"] = renamed_df4["Average Purchase Price"].map("${:.2f}".format)

In [171]:
# Total purchase value by age group
total_price = age_group[["Price"]].sum()
# renamed_df5 = total_price.rename(columns={"Price":"Total Purchase Amount"})
# Rename the column
# renamed_df5["Total Purchase Amount"] = renamed_df5["Total Purchase Amount"].map("${:.2f}".format)

In [172]:
# Normalize the total
# purchase_data.div(purchase_data.sum(axis=1), axis=0)
df_norm = (total_price - total_price.mean()) / (total_price.max() - total_price.min())

In [173]:
renamed_df3["Average Purchase Price"] = av_purch_price
renamed_df3["Total Purchase Value"] = total_price
renamed_df3["Normalized Totals"] = df_norm
renamed_df3["Total Purchase Value"] = renamed_df3["Total Purchase Value"].map("${:.2f}".format)
renamed_df3["Average Purchase Price"] = renamed_df3["Average Purchase Price"].map("${:.2f}".format)
# data0 = renamed_df3.reset_index(drop=True)
renamed_df3

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age Group,,,,
0 to 11,24,$3.56,$85.37,-0.172053
11 to 15,15,$2.75,$41.31,-0.257593
14 to 18,90,$3.08,$277.50,0.200957
18 to 22,178,$2.96,$526.14,0.683678
22 to 26,151,$3.01,$454.62,0.544826
26 to 30,48,$2.81,$134.93,-0.075835
30 to 34,27,$2.73,$73.59,-0.194923
34 to 38,25,$3.53,$88.29,-0.166384
38 to 42,14,$3.36,$47.10,-0.246352
42 to 46,4,$2.77,$11.06,-0.316322

In [174]:
# TOP 5 SPENDERS
# Set the players to the index
sn_index = purchase_data.set_index("SN", drop = False)

In [175]:
# Get the total purchase value of each player
table3 = sn_index.groupby("SN")[["Price"]].sum()

C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: 'SN' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version

In [176]:
# Get the top 5 spenders based on highest purchase total
top_ct = table3.nlargest(5, 'Price')

In [177]:
# Grab top spenders' data using .loc
top_spenders = sn_index.loc[["Lisosia93", "Idastidru52", "Chamjask73",
                               "Iral74", "Iskadarya95"], ["SN", "Item Name", "Price"]]

# Delete duplicates
data7 = top_spenders.drop_duplicates(['SN'], keep='last')

In [178]:
# Purchase count of top spenders
top_purch_ct = top_spenders.groupby('SN')['Item Name'].count()

C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: 'SN' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version

In [179]:
# Get the average purchase price of top spenders
top_av_price = top_spenders.groupby('SN')['Price'].mean()

C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: 'SN' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version

In [180]:
# Top 5 spenders' total purchase value
tot_purch_value = top_spenders.groupby('SN')['Price'].sum()

C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: 'SN' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version

In [181]:
# Put data of top spenders into one table
data7["Total Purchase Value"] = tot_purch_value
data7["Purchase Count"] = top_purch_ct
data7["Average Purchase Price"] = top_av_price
data7["Total Purchase Value"] = data7["Total Purchase Value"].map("${:.2f}".format)
data7["Average Purchase Price"] = data7["Average Purchase Price"].map("${:.2f}".format)
data2 = data7.reset_index(drop=True)

# Delete extraneous column
del data2['Price']
del data2['Item Name']
data2

C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

            SN Total Purchase Value  Purchase Count Average Purchase Price
0    Lisosia93               $18.96               5                  $3.79
1  Idastidru52               $15.45               4                  $3.86
2   Chamjask73               $13.83               3                  $4.61
3       Iral74               $13.62               4                  $3.40
4  Iskadarya95               $13.10               3                  $4.37

In [182]:
#TOP 5 POPULAR ITEMS
# Top 5 most popular items based on purchase count
# Set item name to index
sn_index2 = sn_index.set_index("Item Name", drop = False)

In [183]:
# Use .groupby to get purchase count of items
sn_group = sn_index2.groupby("Item Name")
table4 = sn_group[["Item Name"]].count()

C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: 'Item Name' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version

In [184]:
# Grab top 5 most popular items based on purchase count
top_ct = table4.nlargest(5, 'Item Name')

top_ct.index.names = ['Top Items']
top_ct.rename(columns={"Item Name":"Purchase Count"})

                                              Purchase Count
Top Items
Final Critic                                              13
Oathbreaker, Last Hope of the Breaking Storm              12
Extraction, Quickblade Of Trembling Hands                  9
Fiery Glass Crusader                                       9
Nirvana                                                    9

In [185]:
# Grab data of the top 5 most popular items using .loc
top_items = sn_index2.loc[["Final Critic", "Oathbreaker, Last Hope of the Breaking Storm", 
                           "Extraction, Quickblade Of Trembling Hands",
                               "Fiery Glass Crusader", "Nirvana"], ["Item ID", "Item Name", "Price",]]

data = top_items.drop_duplicates(['Item Name'], keep='last')

In [186]:
# Get top items' purchase count
sn_group1 = top_items.groupby("Item Name")["Item Name"].count()

C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: 'Item Name' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version

In [187]:
# Get the total purchase value of top 5 items
top_value1 = top_items.groupby('Item Name')['Price'].sum()

C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: 'Item Name' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version

In [188]:
# Put data into one table along with 'price'
data["Total Purchase Amount"] = top_value1
data["Purchase Count"] = sn_group1
data["Total Purchase Amount"] = data["Total Purchase Amount"].map("${:.2f}".format)
data["Price"] = data["Price"].map("${:.2f}".format)
data1 = data.rename(columns={"Price":"Item Price"})
data2 = data1.reset_index(drop=True)
data2

C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,Item ID,Item Name,Item Price,Total Purchase Amount,Purchase Count
0,101,Final Critic,$4.19,$59.99,13
1,178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,$50.76,12
2,108,"Extraction, Quickblade Of Trembling Hands",$3.53,$31.77,9
3,145,Fiery Glass Crusader,$4.58,$41.22,9
4,82,Nirvana,$4.90,$44.10,9

In [189]:
# TOP 5 MOST PROFITABLE ITEMS
# Find the top 5 most profitable items based on total purchase value
# Get the total purchase value of each item
top_profit = sn_index2.groupby('Item Name')[['Price']].sum()

C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: 'Item Name' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version
  after removing the cwd from sys.path.

In [190]:
# Extract the top 5 selling items from the data above 
top_prof_item = top_profit.nlargest(5, 'Price')

In [191]:
# Put all of the top items from the table into bins
top_prof_items = sn_index2.loc[["Final Critic", "Oathbreaker, Last Hope of the Breaking Storm", 
                           "Nirvana", "Fiery Glass Crusader", "Singed Scalpel"], 
                          ["Item ID", "Item Name", "Price"]]

data3 = top_prof_items.drop_duplicates(['Item Name'], keep='last')

In [192]:
# Get the purchase count of top 5 most profitable items sold
top_prof_ct = top_prof_items.groupby('Item Name')['Item Name'].count()

C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: 'Item Name' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version

In [193]:
# Get the price of most profitable items
sn_group1 = data3.groupby("Item Name")["Price"].value_counts()

C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: 'Item Name' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version

In [194]:
# Get the total purchase value of top profitable items
top_profit_it = top_prof_items.groupby('Item Name')['Price'].sum()

C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: 'Item Name' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version

In [195]:
# Put all new data into new table with 'price'
data3["Purchase Count"] = top_prof_ct
data3["Total Purchase Value"] = top_profit_it
data3["Total Purchase Value"] = data3["Total Purchase Value"].map("${:.2f}".format)
data3["Price"] = data3["Price"].map("${:.2f}".format)
# data1 = data.rename(columns={"Price":"Item Price"})
data4 = data3.reset_index(drop=True)
data4

C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,Item ID,Item Name,Price,Purchase Count,Total Purchase Value
0,101,Final Critic,$4.19,13,$59.99
1,178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,12,$50.76
2,82,Nirvana,$4.90,9,$44.10
3,145,Fiery Glass Crusader,$4.58,9,$41.22
4,103,Singed Scalpel,$4.35,8,$34.80